.professor-publication {
    padding: inherit !important;
}

.occupation-professor-publication {
    background-color: #F4F4F4;
    color: #666666;
    padding: .5%;
    font-family: 'Poppins' !important;
    text-align: center;
}

.card-professor-publication {
    padding: .5%;
}

.subtitle-professor-publication {
    color: #FD6524;
    font-weight: bold !important;
}

.content-professor-publication {
    border: solid 1px #e0e0e0;
    padding: 15px 15px;
}

.uni-entry-body {
    width: 100%;
    height: auto; 
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}



.mat-card-header-text{
    margin: 0px;
}


.viewport {
    height: 400px;
    width: 100%;
    border: solid 1px #e0e0e0;
}

.item {
    height: 50px;
}
