<div class="body-container">
    <mat-card class="login-card">
        <mat-card-header class="card-header">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a routerLink="/professor/create-account" mat-flat-button class="uni-btn-primary">
                        <mat-icon aria-hidden="false" svgIcon="teacher" aria-label="add circle outline icon"></mat-icon> S'inscrire 
                    </a> 
                </div>
                <div class="col-md-6">
                    <a routerLink="/student/create-account" mat-flat-button class="uni-btn-primary">
                        <mat-icon svgIcon="student" aria-hidden="false" aria-label="add circle outline icon"></mat-icon> S'inscrire 
                    </a> 
                </div> 
                <div class="row text-center">
                    <mat-card-title><img src="../../assets//images/school.png" alt="" width="150px"></mat-card-title>
                </div>
            </div>            
        </mat-card-header>
        <form [formGroup]="loginForm" 
            class="form" 
            (ngSubmit)="onLogin()"
        >
            <mat-card-content>
                <mat-form-field class="input-full-width">
                    <mat-label>Email</mat-label>
                    <input  
                        matInput
                        formControlName="email"
                        type="email" 
                        name="email"
                    >
                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                        Champ obligatoire, entrez un email valide !
                      </mat-error>

                </mat-form-field>
                <mat-form-field class="input-full-width">
                    <mat-label>Mot de passe</mat-label>
                    <input  
                        matInput
                        formControlName="password"
                        type="password" 
                        name="password"
                    >
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Champ obligatoire !
                      </mat-error>
                </mat-form-field>
            </mat-card-content>
            
            <section class="example-section">
                <mat-radio-group [formControl] = "loginForm.controls['statut']"  name="statut">
                    <mat-radio-button class="radio-margin" value="professor">
                        <mat-icon svgIcon="teacher" aria-hidden="false"></mat-icon>
                    </mat-radio-button>
                    <mat-radio-button class="radio-margin" value="student">
                        <mat-icon svgIcon="student" aria-hidden="false"></mat-icon>
                    </mat-radio-button>
                </mat-radio-group>
            </section>

            <mat-card-actions class="text-end">
                <button mat-fab class="btn-fab">
                    <mat-icon aria-hidden="false" svgIcon="login" aria-label="login icon"></mat-icon> 
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>

