.login-card {
    margin: auto;
    width: 500px;
    padding: 5%;
    border: solid 1px #e0e0e0 !important;
}

.rowcenter{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
