/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap-utilities.min.css";
@import "assets/css/bootstrap-grid.min.css";
@import "assets/fonts/Poppins/poppins.css";


*{
    font-family: 'Poppins', "Helvetica Neue", sans-serif; 
}

html, body { height: 100%; }
body { margin: 0;}

.body-container {
    margin: 3% !important;
    width: 95% !important;
}


.card-header .mat-card-title {
    text-align: center;
}

.mat-display-1 {
    font-weight: bold;
}


.input-full-width {
    width: 100%;
    //font-family: 'PoppinsLight' !important;
}

.input-half-width {
    padding-left: 5%;
    width: 80%;
    //font-family: 'PoppinsLight' !important;
}

.input-half {
    width: 30%;
    //font-family: 'PoppinsLight' !important;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container {
    width: 120px;
}
  

.radio-margin {
    margin: 0 10px;
}


/* SNACKBAR STYLE */
.success-snackbar {
    background-color: #9BBC4E;
}
.warning-snackbar {
    background-color: #FD6524;
}
.info-snackbar {
    background-color: #1F94BE;
}

.success-snackbar,
.warning-snackbar,
.info-snackbar {
    color: #fff !important;
    .mat-simple-snackbar .mat-simple-snackbar-action .mat-button {
        color: #fff !important;
    }
    &:not(.lower) {
        text-transform: uppercase !important;
    }
}

.button-toggle-label {
    display: inline-block;
    margin: 16px;
}

.uni-btn-primary {
    width: 100%;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 44px;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    padding: 0 15px;
    text-transform: uppercase;
    border: solid 2px #3f97da !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
    &:hover {
        color: #ffffff;
        background-color: #3f97da;
    }
}

.uni-btn-danger {
    width: 100%;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 44px;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    padding: 0 15px;
    text-transform: uppercase;
    border: solid 2px #FD6524 !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
    &:hover {
        color: #ffffff;
        background-color: #FD6524;
    }
}

.theme-primary {
    background-color:#3f97da;
    color: #ffffff
}



/**----------------------
 *    TEXT ALIGN STYLES
 *------------------------**/
.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}


/**--------------------------------------------
 *               MAT FAB BUTTON
 *---------------------------------------------**/

.btn-fab {
    width: 100%;
    background-color: #ffffff !important;
    line-height: 44px;
    text-align: center;
    padding: 15px;
    border: solid 2px #3f97da !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
    &:hover {
        border: solid 2px #FD6524 !important;
    }
}


/**----------------------
 *    Display date
 *------------------------**/
.uni-entry-body {
    width: 100%;
    height: auto; 
    padding-top: 30px;
    padding-left: 100px;
}
.uni-entry-time {
    float: left;
    width: 80px;
    height: 100px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px 24px 0 0 #3f97da;
    box-shadow: inset 0px 24px 0 0 #3f97da;
    border: solid 1px #3f97da; 
}
.uni-entry-time li {
    font-family: 'Poppins';
    list-style: none;
}
.uni-entry-time li.year {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff; 
    text-align: center;
}
.uni-entry-time li.day {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f97da;
    padding-top: 20px; 
}
.uni-entry-time li.month {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #3f97da;
    text-transform: uppercase; 
}