<div *ngIf="component=='publication-professor'">
  <div *ngIf="action=='edit'">
    <form [formGroup]="formEditDialog" class="form" (ngSubmit)="onEditPublicationProfessor()">
      <h2 mat-dialog-title>Editer la publication </h2>

      <mat-dialog-content class="mat-typography">
        <div class="row">

          <mat-form-field class="col-md-12 p-3">
              <mat-label>Nom du projet</mat-label>
              <input  
                  matInput
                  formControlName="name"
                  type="text" 
                  name="name"
              >
              <mat-error *ngIf="formEditDialog.controls['name'].hasError('required')">
                Champ obligatoire !
              </mat-error>
          </mat-form-field>


          <mat-form-field class="col-md-12 p-3">
            <mat-label>
              <mat-icon aria-hidden="false">mode_comment</mat-icon>
              Description du projet
            </mat-label>
            <textarea class="input-full-width" matInput placeholder="..." cols="10" rows="5"
              [formControl]="formEditDialog.controls['message']"></textarea>
          </mat-form-field>
          <mat-error *ngIf="formEditDialog.controls['message'].hasError('required')">
            Champ obligatoire !
        </mat-error>
        </div>
      </mat-dialog-content>


      <mat-form-field>
        <mat-label>
            <mat-icon aria-hidden="false">calendar_today</mat-icon>
            Deadline du projet
        </mat-label>
        <input matInput [formControl]="formEditDialog.controls['deadline']"
            [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formEditDialog.controls['deadline'].hasError('required')">
            Veuillez renseigner le deadline du devoir
        </mat-error>
    </mat-form-field>



      <mat-dialog-actions align="end">
        <button mat-fab color="warn" class="rounded-button" mat-dialog-close>
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-fab color="primary" cdkFocusInitial>
          <mat-icon>check</mat-icon>
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</div>