<mat-toolbar class="theme-primary">
    <img src="../../../../assets/images/shiba1.jpg" alt="" width="100" class="rounded-circle toolbar">
    {{currentProfessor?.lastname}}
   <span class="spacer"></span>
  
    <a mat-button routerLink="/professor/dashboard">
        Retour
    </a>
</mat-toolbar>
  


<div class="body-container">
    <div class="row text-center">
        <h1 class="mat-display-1">Current publication</h1>
    </div>
    <div cdkDropListGroup class="row">
        <div class="col-md-4 unmarked">
            <h2 class="text-center"><mat-icon svgIcon="waiting"></mat-icon>&nbsp; Non corrigé ({{unMarkedAssignmentCount}})</h2>
            <div
                cdkDropList
                [cdkDropListData]="unMarkedAssignmentList"
                class="list"
                >
                <div class="box" *ngFor="let item of unMarkedAssignmentList" cdkDrag>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title> {{item.student.lastname}} {{item.student.surname}}</mat-card-title>
                            <mat-card-subtitle>{{item.student.email}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-icon svgIcon="github"></mat-icon> &nbsp;
                            <a style="cursor: pointer" href={{item.depositUrl}}>{{item.depositUrl}}</a>

                            <div class="row">
                                <div *ngIf="item.remark" class="col-md-10">
                                    <mat-icon aria-label="add" svgIcon="paper"></mat-icon> &nbsp;
                                    {{item.remark}}
                                </div>
                                <div *ngIf="item.note" class="col-md-2 markStyle">
                                    {{item.note}}
                                </div>
                            </div>
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
        </div>
    
    
        <div class="col-md-4 marked">
            <h2 class="text-center"><mat-icon svgIcon="marked"></mat-icon>&nbsp; Corrigé ({{markedAssignmentCount}})</h2>
            <div
                cdkDropList
                [cdkDropListData]="markedAssignmentList"
                class="list"
                (cdkDropListDropped)="toMark($event)">
                <div class="box" *ngFor="let item of markedAssignmentList" [cdkDragDisabled]="true" cdkDrag>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title> {{item.student.lastname}} {{item.student.surname}}</mat-card-title>
                            <mat-card-subtitle>{{item.student.email}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-icon svgIcon="github"></mat-icon> &nbsp;
                            <a style="cursor: pointer" href={{item.depositUrl}}>{{item.depositUrl}}</a>
                            
                            <div class="row">
                                <div *ngIf="item.remark" class="col-md-10">
                                    <mat-icon aria-label="add" svgIcon="paper"></mat-icon> &nbsp;
                                    {{item.remark}}
                                </div>
                                <div *ngIf="item.note" class="col-md-2 markStyle">
                                    {{item.note}}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

