.professor-publication {
    padding: inherit !important;
}

.occupation-professor-publication {
    background-color: #F4F4F4;
    color: #666666;
    padding: .5%;
    font-family: 'ArialRounded' !important;
    text-align: center;
}

.card-professor-publication {
    padding: .5%;
}

.subtitle-professor-publication {
    color: #FD6524;
    font-weight: bold !important;
}

.content-professor-publication {
    border: solid 1px #e0e0e0;
    padding: 15px 15px;
}

.uni-entry-body {
    width: 100%;
    height: auto; 
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.uni-entry-time {
    float: left;
    width: 80px;
    height: 100px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px 24px 0 0 #3f97da;
    box-shadow: inset 0px 24px 0 0 #3f97da;
    border: solid 1px #3f97da; 
}
.uni-entry-time li {
    font-family: 'Poppins';
    list-style: none;
}
.uni-entry-time li.year {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff; 
    text-align: center;
}
.uni-entry-time li.day {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f97da;
    padding-top: 20px; 
}
.uni-entry-time li.month {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #3f97da;
    text-transform: uppercase; 
}

.mat-card-header-text{
    margin: 0px;
}

.remark-bloc {
    
}

.example-viewport {
    height: 400px;
    width: 55%;
    border: 1px solid black;
}

.example-item {
    height: 50px;
}