<div class="container">
    <div class="add-member-card">

        <h1 class="mat-display-1 text-center">Nouveau professeur</h1>
        
        <!-- Lastname --->
        <mat-form-field class="input-half-width">
            <mat-label> 
                <mat-icon aria-hidden="false">account_circle</mat-icon>
                Nom
            </mat-label>
            <input  
                matInput
                [formControl] = "addProfessorForm.controls['lastname']" 
                type="text" 
                name="lastname"
            >
            <mat-error *ngIf="addProfessorForm.controls['lastname'].hasError('required')">
                Champ obligatoire !
            </mat-error>
        </mat-form-field>

        <!-- Surname --->
        <mat-form-field class="input-half-width">
            <mat-label> 
                <mat-icon aria-hidden="false">account_circle</mat-icon>
                Prénom (s)
            </mat-label>
            <input  
                matInput
                [formControl] = "addProfessorForm.controls['surname']" 
                type="text" 
                name="surname"
            >
            <mat-error *ngIf="addProfessorForm.controls['surname'].hasError('required')">
                Champ obligatoire !
                </mat-error>
        </mat-form-field>

        <!-- Email --->
        <mat-form-field class="input-half-width">
            <mat-label> 
                <mat-icon aria-hidden="false">contact_mail</mat-icon>
                Email
            </mat-label>
            <input  
                matInput
                [formControl] = "addProfessorForm.controls['email']" 
                type="email" 
                name="email"
            >
            <mat-error *ngIf="addProfessorForm.controls['email'].hasError('required')">
                Champ obligatoire, entrez un email valide !
                </mat-error>
        </mat-form-field>

        <!-- Password --->
        <mat-form-field class="input-half-width">
            <mat-label> 
                <mat-icon aria-hidden="false">vpn_key</mat-icon>
                Mot de passe
            </mat-label>
            <input  
                matInput
                [formControl] = "addProfessorForm.controls['password']" 
                type="password" 
                name="password"
            >
            <mat-error *ngIf="addProfessorForm.controls['password'].hasError('required')">
                Champ obligatoire, entrez un email valide !
                </mat-error>
        </mat-form-field>



        <div class="flex-container">
            <!-- Occupation --->
            <mat-form-field class="input-half">
                <mat-label>
                    <mat-icon aria-hidden="false">cases</mat-icon>
                    Cours
                </mat-label>
                <mat-select [formControl] = "addProfessorForm.controls['course']"  name="cours">
                <mat-option *ngFor="let item of coursesList" [value]="item.name">
                    {{item.name}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="input-half">
                <mat-label>
                    <mat-icon aria-hidden="false">class</mat-icon>
                    Promotions
                </mat-label>
                <mat-select [formControl] = "addProfessorForm.controls['promotion']"  name="promotion">
                <mat-option *ngFor="let item of promotionsList" [value]="item.name">
                    {{item.name}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <button 
                mat-fab 
                color="primary" 
                aria-label="add icon"
                (click)="onAddOccupation()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="row">
            <div class="col-md-3 m-3" *ngFor="let occupation of occupationList; let i = index">
                <mat-card>
                    <mat-card-content>
                        Cours : {{occupation.course}} <br>
                        Promotion : <b>{{occupation.promotion}}</b>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button 
                            mat-mini-fab 
                            color="primary" 
                            aria-label="delete icon"
                            (click) = "onDeleteOccupation(i)"
                        >
                            <mat-icon>delete</mat-icon>
                            </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="row m-4">
            <div class="col-md-6">
            </div>
        
            <div class="col-md-3 text-center">
                <a routerLink="/" mat-flat-button color="warn" class="rounded-button">
                    Se connecter
                </a> 
            </div>

            <div class="col-md-3 text-center">
                <button 
                    mat-flat-button 
                    color="primary"
                    class="rounded-button"
                    (click) = "onAddProfessor()"
                >
                    S'inscrire
                </button>
            </div>
            
        </div>
    </div>
</div>

