<mat-toolbar class="theme-primary">
  <img src="../../../../assets/images/shiba1.jpg" alt="" width="100" class="rounded-circle toolbar">
 <span class="spacer"></span>

 {{currentProfessor?.lastname}}
  <button mat-icon-button>
    <mat-icon (click) = "OnLogOut()">logout</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center" color="primary" backgroundColor="default">
  <mat-tab label="A propos">
    <app-about-dashboard></app-about-dashboard>
  </mat-tab>
  <mat-tab label="Publication">
    <app-publication-professor></app-publication-professor>
  </mat-tab>
  <mat-tab label="Mouvement">
    Mouvement
  </mat-tab>
</mat-tab-group>